body {
    background-color: black;
    background-position: center;
    color:white;
}
img {
    position: fixed;
    width: 1200px;
    height: 850px;

}
.header {
    position: relative;
    font-size: 60px;
    font-family: 'Audiowide', cursive;
    color: rgb(27, 72, 87);
    margin-top: 10px;
    float:right;
}
.timer {
    /* position: relative; */
    margin-top: 20px;
    font-family: "Garamond";
    font-size: 20px;
    float: right;
    /* margin-top: 150px; */
}
button {
    font-family: "Garamond";
    float: right;
}
.questions{
    font-size: 30px;
    font-family: "Garamond";
    float:left;
    margin-left: 20px;
    margin-top: 20px;
    /* color: black; */
    /* background-color: rgb(177, 58, 3); */
    /* padding: 20px; */
    /* opacity: 0.5; */
}
