body {
    background-color: black;
    background-position: center;
    color:white;
}
img {
    position: fixed;
    width: 1300px;
    height: 750px;
    z-index: -1;

}
h3 {
    color: rgb(27, 72, 87);
    font-family: 'Audiowide', cursive;
    font-size: 45px;
    margin-bottom: 20px;
    ;
}
.header {
    position: relative;
    font-size: 60px;
    font-family: 'Audiowide', cursive;
    color: rgb(27, 72, 87);
    margin-top: 10px;
    float:right;
}
.timer {
    margin-top: 20px;
    font-family: "Garamond";
    font-size: 20px;
    float: right;
    
}
button {
    font-family: "Garamond";
    float: right;
    font-size: 20px;
}
.questions{
    font-size: 20px;
    font-family: "Garamond";
    float:right;
    margin-left: 20px;
    margin-top: 20px;
}
#results {
    font-family: "garamond";
    float: right;
    margin-right: 200px;
    margin-top: 20px;
}
form {
    margin-left: 20px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
}
